  {{> flash_messages}}
  <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url('images/cover_img_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center" data-aos="fade-up">
            <h1>Need A Neat Work? Don't Hesitate To Contact Me</h1>
          </div>
        </div>
      </div>
    </div>
<br>
<hr>
<div class="container">
   <div class="row">
       <div class="col-md-12 mb-5">
          <ul>
             <li>Want To Schedule An Appointment?</li>
             <li>Got Questions/Suggestions For Me?</li>
             <li>Have Enquiries?</li>
             <li>Want To Contact Us?</li>
          </ul>
            <p class="text-black">Please use the contact form below. I would keep in touch.</p>
          </div>
   </div>
</div>
  

    <div class="site-section" data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          

          <div class="row">
            <div class="col-lg-8 mb-5">
              {{> flash_messages}}
              <form action="/contact" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="fname">First name</label>
                        <input name="fname" value="{{body.fname}}" class="form-control" id="fname" type="text" placeholder="Enter first name">
                    </div>
                    <div class="col-md-6">
                        <label for="lname">Last name</label>
                        <input name="lname" value="{{body.lname}}" class="form-control" id="lname" type="text" placeholder="Enter last name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" value="{{body.email}}" aria-describedby="emailHelp"class="form-control" id="email" type="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="subject">Message Subject</label>
                <input name="subject" value="{{body.subject}}" class="form-control" id="subject" type="text" placeholder="Enter message subject">
            </div>
            <div class="form-group">
                <label for="message">Message Body</label>
                <textarea placeholder="Enter message" cols="30" rows="7" value="{{body.message}}" name="message"  col class="form-control" id="message"></textarea>
            </div>
           
            <button type="submit" class="btn btn-danger py-3 px-5 rounded">Send Message</button>
        </form>
            </div>
            <div class="col-lg-3 ml-auto">
              <div class="mb-3 bg-white">
                <p class="mb-0 font-weight-bold">Address</p>
                <p class="mb-4">203 Fake St. Mountain View, Yaba, Lagos, Nigeria</p>

                <p class="mb-0 font-weight-bold">Phone</p>
                <p class="mb-4"><a href="#">+1 2345678888888888</a></p>

                <p class="mb-0 font-weight-bold">Email Address</p>
                <p class="mb-0"><a href="#">emperorgold@gmail.com</a></p>

              </div>
              
            </div>
          </div>
        </div>
    
      </div>
    </div>
  </div>